<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection Hub</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.4/r-3.0.2/datatables.min.css" rel="stylesheet">
</head>

<body>

    <div class="p-4 m-3 border rounded shadow">

        <h1>IP Address - Users Data</h1>
        <div class="table-responsive">
            <table id="example" class="display nowrap table table-hover table-striped table-bordered table-sm"
                style="width:100%">
                <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>cpu_use</th>
                        <th>gpu_use</th>
                        <th>ram_use</th>
                        <th>Service Provider</th>
                        <th>machine_type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{item.ip_address}}</td>
                        <td>{{item.cpu_use}}</td>
                        <td>{{item.gpu_use}}</td>
                        <td>{{item.ram_use}}</td>
                        <td>{{item.service_provider}}</td>
                        <td>{{item.machine_type}}</td>
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="add-server-data">ADD SERVER</a>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.4/r-3.0.2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true,
                scrollX: true
            });
        });
    </script>
</body>

</html>